img {
    float: left;

	  width: 130px;
    height: 70px;
		top: 10px;
		//margin-left: 10px;
		right: -10px;
    border: 10px solid rgb(218, 10, 52);
    border-radius: 50%;
    box-shadow: 0 15px 10px 0px dimgray;
  }
