h2{
  color: rgb(204,25,0);
  font-size: 30px;
  //margin-bottom: 0px;
}


time{
  font-weight: bold;

}

div{

  display: inline-grid;
}

html{
  //justify-content: center;

}

.container{
  display:flex;
  justify-content: space-between;
  flex-flow: wrap;
  font-size:15px;
  align-items: stretch;
  min-height: 100%;
}
